.men{
	width:300px;
	height:100%;
	top:0;
	left:0;
	position: absolute;
	background-color:rgb( 81, 90, 90);
}
.men>h1{
	text-align: center;
	color:#fff;
}
.men>button{
	font-size: 30px;
	margin-bottom:5px;
	color:#fff;
	text-align: left;
	padding-left: 10px;
	width:300px;
	border:none;
	background-color: transparent;
}
.men>button:hover{
	background-color:black;
}
.er,.ver,.over,.re,.vr{
	position:absolute;
	top:260px;
	left:750px;
	width:400px;
	background-color:rgba( 146, 151, 145 ,0.9);

}
a{
	text-decoration:none;
}
.re>i,.er>i,.ver>i,.over>i,.vr>i{
	color:#fff;
	font-size: 25px;
	float:right;
}
.er>form>input[type=password],.ver>form>input[type=text],.vr>form>input[type=text],.re>form>input[type=text],.over>form>input[type=text]{

		width: 95%;
    padding: 12px 20px;
    margin: 10px ;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.ver>form>input[type=submit],.re>form>input[type=submit],.er>form>input[type=submit],.vr>form>input[type=submit],.over>form>input[type=submit] {
    width: 95%;
    background-color:#ABB2B9;
    color: white;
    padding: 14px 20px;
    margin: 8px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.over>input[type=submit]:hover,.re>input[type=submit]:hover,.ver>input[type=submit]:hover,.er>input[type=submit]:hover,.vr>input[type=submit]:hover  {
    background-color: #17202A;
}
.container {
	position: relative;
	top:0px;
	left:0px;
	margin-left:5px;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}

.change .bar1 {
    margin-left:305px;
}
.change .bar3 {
    margin-left:305px;
}
.change .bar2 {
    margin-left:305px;
}
.add{
	margin-left: 310px;
}
.add>button{
	width:200px;
	height: 100px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 15px;
	border-width: 0px;
	font-size: 30px;
	cursor: pointer;
	background-color: rgb( 88, 214, 141 );
}
.f{
	position: absolute;
	top:870px;
	padding-right: 10px;
	padding-left: 1750px;
}
.f>button{
	border-radius: 50%;
	width:70px;
	height:70px;
	font-size: 30px;
	text-align: center;
	border: none;
	background-color: rgb( 52, 152, 219 );
}
body{
	background-color: rgba( 1, 253, 226 ,0.05);
	overflow: hidden;
}
.ty{
	position: absolute;
	padding-left: 500px;
}

